<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Storage</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div id="block1"><span><img id="logo" src="/static/cloudwiry.png" alt="image not available"/></span><span id="title">File Storage System</span></div>
    <br>
    <div id="block2">
        <h2>Login Here</h2>
        <form id="form1" action="session.html" method="post">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <input type="submit" value="Login">
        </form>
        <br>
        <a href="Register.html" id="register">Register</a>
    </div>
</body>
</html>