<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Storage</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div id="block1"><span><img id="logo" src="/static/cloudwiry.png" alt="image not available"/></span><span id="title">File Storage</span></div>
    <br>
    <div id="block2">
        <h2>Register Here</h2>
        <form id="form1" action="/register" method="post">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <input type="submit" value="Register">
        </form>
    </div>
    <div id="block2">
        Sorry for the inconvenience.Some login credentials are not being processed on the server side.
        <br> Please avoid having special characters in your username and password while registering.
    </div>
</body>
</html>